@import url('https://fonts.googleapis.com/css?family=Hind+Vadodara|Jaldi');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	min-height: 100vh;
}

body {
	font-family:monospace;	
	text-align: center;
	list-style-type: none; 
 	position: relative;
 	}

h1 {
	font-family: 'Jaldi';
	font-weight: bold;
	font-size: 40px;
	color: #000000
}

#hero {
	background-image: url(../images/Nice_France.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	height: 55vw;
	overflow: hidden;
}

#slogan {
	font-family: 'Hind Vadodara';
	font-size: 30px;
	font-style: italic;
	color: #FF1300;
}

#info {
	font-family: 'Hind Vadodara';
	font-size: 25px;
	color: #FF1300;
}

#gallery {
	color: #FF1300;
}

#gallery figure {
	float: left;
	width: 25%;
}

.clearfix:after{
	content: "";
	display: block;
	clear: both;
}

ul{
	text-align: bottom;
	list-style-type: none;
	color: #3412FF;
}

#contact {
	font-family: 'Hind Vadodara';
	text-align: bottom;
	font-size: 25px;
	color: #FF1300;
}